<!DOCTYPE html>
<html>

    <head>
        <title>FILE UPLOAD DEMO</title>
    </head>

    <body>
        <h1>Blog Application</h1>
        <br>
        <form action="/blog" method="POST">

            <!-- <span>Upload Profile Picture:</span> -->
            <labe>tittle
            </labe> <input type="text" /> <br>
            <labe>discription</labe><input type="text" /> <br>
            <labe>author</labe><input type="text" /> <br>
            <labe>date</labe> <input type="date" /> <br>
            <labe>content</labe> <textarea type="text"> </textarea><br> <input type="submit" value="submit">
        </form>
    </body>

</html>